  <!-- في المكان ده هحط footer -->
      <!-- Main Footer -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2023-2024 <a href="https://www.facebook.com/profile.php?id=100027196323594&mibextid=ZbWKwL">Mahmoud Nabil</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <a target="_blank" class="text-danger" href="https://www.youtube.com/@Mahmoood_nabil"><i class="fab fa-lg fa-youtube"></i></a>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100027196323594&mibextid=ZbWKwL"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
            <a target="_blank" class="text-warning" href="https://www.instagram.com/mahmoood_nabil/profilecard/?igsh=bmE0aHp4enpxOXk0"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
        </div>
      </footer>